# default instance set to test
INSTANCE=

# SauceLabs test runner
SAUCE_USERNAME=
SAUCE_ACCESS_KEY=

# TestRail result loading
TESTRAIL_GROUP=
TESTRAIL_USER=
TESTRAIL_VALUE=

# Salesforce integration
SALESFORCE_USERNAME=
SALESFORCE_PASSWORD=

# test account for Facebook social login
FACEBOOK_USERNAME=
FACEBOOK_PASSWORD=

# test account for Facebook social sign up
FACEBOOK_SIGNUP=
FACEBOOK_SIGNUP_PASSWORD=

# test account for Google social login
GOOGLE_USERNAME=
GOOGLE_PASSWORD=

# test account for Google social sign up
GOOGLE_SIGNUP=
GOOGLE_SIGNUP_PASSWORD=

# standard user sets
ADMIN_USER=
ADMIN_PASSWORD_DEV=
ADMIN_PASSWORD_QA=
ADMIN_PASSWORD_STAGING=

TEACHER_USER=
TEACHER_PASSWORD_DEV=
TEACHER_PASSWORD_QA=
TEACHER_PASSWORD_STAGING=

STUDENT_USER=
STUDENT_PASSWORD_DEV=
STUDENT_PASSWORD_QA=
STUDENT_PASSWORD_STAGING=

CONTENT_USER=
CONTENT_PASSWORD_DEV=
CONTENT_PASSWORD_QA=
CONTENT_PASSWORD_STAGING=

ACCOUNTS_BASE_URL=https://accounts.openstax.org
EXERCISES_BASE_URL=https://exercises.openstax.org
PAYMENTS_BASE_URL=https://payments.openstax.org/admin
TUTOR_BASE_URL=https://tutor.openstax.org
WEB_BASE_URL=https://openstax.org
