alabaster==0.7.12
apipkg==1.5
appdirs==1.4.4
attrs==20.2.0
Authlib==0.14.3
autochomsky==1.0.6
Babel==2.8.0
beautifulsoup4==4.9.1
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
coverage==5.3
cryptography==3.2.1
distlib==0.3.1
docutils==0.16
execnet==1.7.1
Faker==4.1.3
filelock==3.0.12
flake8==3.8.3
google-api-core==1.22.2
google-api-python-client==1.12.1
google-auth==1.21.2
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.10
imagesize==1.2.0
iniconfig==1.0.1
isort==5.5.2
Jinja2==2.11.2
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.5.0
oauth2client==4.1.3
packaging==20.4
pep8==1.7.1
pluggy==0.13.1
protobuf==3.13.0
py==1.9.0
pyAesCrypt==0.4.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.0
pyparsing==2.4.7
PyPOM==2.2.0
pytest==6.0.2
pytest-base-url==1.4.2
pytest-cov==2.10.1
pytest-dotenv==0.5.2
pytest-flake8==1.0.6
pytest-forked==1.3.0
pytest-html==2.1.1
pytest-isort==1.2.0
pytest-metadata==1.10.0
pytest-randomly==3.4.1
pytest-rerunfailures==9.1
pytest-securestore==0.1.3
pytest-selenium==2.0.0
pytest-testrail==2.9.0
pytest-variables==1.9.0
pytest-xdist==2.1.0
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
rsa==4.7
selenium==3.141.0
simple-salesforce==1.10.1
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tenacity==6.2.0
text-unidecode==1.3
toml==0.10.1
tox==3.20.0
uritemplate==3.0.1
urllib3==1.25.10
virtualenv==20.0.31
zope.component==4.6.2
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==5.0.1
zope.interface==5.1.0
zope.proxy==4.3.5
