alabaster==0.7.12
apiclient==1.0.4
apipkg==1.5
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
autochomsky==1.0.5
Babel==2.7.0
beautifulsoup4==4.8.2
bs4==0.0.1
cachetools==3.1.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
coverage==4.5.4
cryptography==2.8
docutils==0.16
entrypoints==0.3
execnet==1.7.0
Faker==4.0.1
filelock==3.0.12
flake8==3.7.9
flake8-docstrings==1.5.0
flake8-isort==2.8.0
flake8-polyfill==1.0.2
get==1.0.3
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
html5lib==1.0.1
httplib2==0.18.0
idna==2.8
imagesize==1.1.0
importlib-metadata==0.19
ipaddress==1.0.22
isort==4.3.21
Jinja2==2.10.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.2.0
oauth2client==4.1.3
packaging==19.1
pep8==1.7.1
pluggy==0.12.0
post==1.0.2
public==1.0.3
py==1.8.0
pyAesCrypt==0.4.3
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycodestyle==2.5.0
pycparser==2.19
pydocstyle==4.0.1
pyflakes==2.1.1
Pygments==2.4.2
pyOpenSSL==19.1.0
pyparsing==2.4.2
PyPOM==2.2.0
pytest==5.3.5
pytest-base-url==1.4.1
pytest-cache==1.0
pytest-cov==2.7.1
pytest-dotenv==0.4.0
pytest-flake8==1.0.4
pytest-forked==1.0.2
pytest-html==1.22.0
pytest-isort==0.3.1
pytest-metadata==1.8.0
pytest-randomly==3.1.0
pytest-repeat==0.8.0
pytest-rerunfailures==7.0
pytest-securestore==0.1.3
pytest-selenium==1.17.0
pytest-testrail==2.8.3
pytest-variables==1.7.1
pytest-xdist==1.29.0
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2019.2
PyYAML==5.1.2
query-string==1.0.2
request==1.0.2
requests==2.23.0
rsa==4.0
selenium==3.141.0
simple-salesforce==0.74.3
simplejson==3.16.0
six==1.14.0
snowballstemmer==1.9.0
soupsieve==1.9.3
Sphinx==2.2.0
sphinx-autodoc-annotation==1.0.post1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
testfixtures==6.0.1
text-unidecode==1.3
toml==0.10.0
tox==3.14.5
uritemplate==3.0.0
urllib3==1.25.3
virtualenv==16.7.4
wcwidth==0.1.7
webencodings==0.5.1
zipp==0.6.0
zope.component==4.5
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==4.2.0
zope.interface==4.6.0
zope.proxy==4.3.2
